<main class="main">
  <div>
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
        <li><a routerLink="/posts" routerLinkActive="active" ariaCurrentWhenActive="page">Posts</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="content">
    <router-outlet />
  </div>
  <div>
    Footer
  </div>
</main>